@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur VCubeWatcher</h1>
</div>
<h3>Marie Dugoua</h3>
<a href="https://github.com/MarieDugoua/VCubeWatcher"> Code source</a>